#root {
    
}

body {
    margin: 0px;
    width: fit-content;
    width: 100vw;
    overflow-x: hidden;
}


h1{
    color: #161616;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8.5em;
    text-align: center;
}