.FooterWrapper {
    background-color: #e4e4e4;
    color: #161616;
    padding: 30px 0 0 0;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    .FooterMenu {

        width: 100vw;
        margin: 70px 0 70px 0;
        // padding: 0px 10px 0px 10px !important;

        ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 6.5rem;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            padding: 0px 0px 0px 0px !important;

            a {
                color: #161616;
                text-decoration: none;
            }

            li {
                text-align: center;
                font-size: x-large;
            }
        }
    }
}