.ShopItemsContaier {
    background-color: #1d0623;
    padding: 4rem 0.5rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .ProductContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);


        .ProductImage {

            img {
                height: 120px;
                width: 200px;
                cursor: pointer;

                &:hover {
                    // transform: rotate(1deg);
                    transition: 10ms ease-in-out;
                }
            }
        }

        .ProductArrow {
            grid-column-start: end;
            transform: translateY(0) translateX(10px);
            transition: opacity 0.3s ease-in-out;
        }
    }

    @media (max-width: 768px) {
        .ProductImage {

            img {
                width: 100% !important;
                height: auto !important;
            }
        }
    }
}