.ShopItemPreviewContainer {

    padding: 0 4rem 0 4rem;

    img {
        position: relative;
        top: 0;
        width: 770px;
        height: 513px;
        box-shadow: 1px 1px 20px 1px #1d0623;
    }

    .ProductSizeContainer {
        display: flex;
        gap: 1rem;
    }
}