.FilmDetailsContainer {

    .Cover {
        width: 100%;
    }

    .FilmDetailsWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 120px 0px 50px 0px;
        gap: 150px;

        .TextContainer{
            text-align: left;
            font-size: x-large;
            width: 30vw;
        }

        img {
            width: 25vw;
        }

    }

    
    .FilmDetailsCarousel{
        background-color: #1d0623;
    }
}