.FilmDivWrapper {

    padding-bottom: 100px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;

    .FilmTextContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        color: #161616;
        text-transform: uppercase;

        .FilmTextContainerTitleRight {
            display: flex;
            justify-content: center;

            h3 {
                direction: rtl;
                transform: rotate(-90deg);
                font-size: 2vw !important;
                // height: 300px;
                width: 250px;
            }
        }

        .FilmTextContainerTitleLeft {
            display: flex;
            justify-content: center;

            h3 {
                direction: rtl;
                transform: rotate(90deg);
                font-size: 2vw !important;
                // height: 300px;
                width: 250px;
            }
        }

        .FilmTextContainerYear {
            text-align: center;
            height: 10px;

            p {
                font-weight: 100;
                font-size: 6vw !important;
            }
        }
    }

    .FilmImage {
        margin-right: 20px;
        justify-self: end;

    }
}