// .FilmDivWrapper {

//     padding-bottom: 100px;
//     display: flex;
//     align-items: center;

//     .FilmTextContainer {
//         display: flex;
//         flex-direction: column;
//         height: 100%;
//         width: 100%;

//         color: #161616;
//         text-transform: uppercase;

//         .FilmTextContainerTitleRight {
//             display: flex;
//             justify-content: center;

//             h3 {
//                 direction: rtl;
//                 transform: rotate(-90deg);
//                 font-size: 3rem !important;
//                 // height: 300px;
//                 width: 250px;
//             }
//         }

//         .FilmTextContainerTitleLeft {
//             display: flex;
//             justify-content: center;

//             h3 {
//                 direction: rtl;
//                 transform: rotate(90deg);
//                 font-size: 3rem !important;
//                 width: 250px;
//             }
//         }

//         .FilmTextContainerYear {
//             text-align: center;
//             height: 10px;

//             p {
//                 font-weight: 100;
//                 font-size: 6vw !important;
//             }
//         }
//     }

//     .FilmImage {
//         margin-right: 20px;
//         justify-self: end;
//     }


//     @media (max-width: 768px) {
//         display: block;

//         .FilmTextContainer {
//             display: block;
//         }

//         .FilmTextContainerTitleRight {
//             display: flex;
//             justify-content: center;
//             text-align: center;

//             h3 {
//                 transform: rotate(0deg) !important;
//                 width: 100% !important;
//                 margin: 0px;
//             }
//         }

//         .FilmTextContainerTitleLeft {
//             display: flex;
//             justify-content: center;
//             text-align: center;

//             h3 {
//                 transform: rotate(0deg) !important;
//                 width: 100% !important;
//                 margin: 0px;
//             }
//         }

//         .FilmImage {
//             margin: 0px;
//             justify-self: end;
//         }
//     }
// }

.FilmDivWrapper {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: auto;

    padding-bottom: 150px;

    .FilmTextContainer {
        color: #161616;
        text-transform: uppercase;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .FilmTextContainerTitleRight {
            h3 {
                direction: rtl;
                transform: rotate(-90deg);
                font-size: 50px !important;
                width: 250px;
            }
        }

        .FilmTextContainerTitleLeft {
            h3 {
                direction: rtl;
                transform: rotate(90deg);
                font-size: 50px !important;
                width: 250px;

            }
        }

        .FilmTextContainerYear {
            text-align: center;

            p {
                font-weight: 100;
                font-size: 5vw !important;
            }
        }
    }
}