.DrawerWrapper {
    color: #161616 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; // need this to get scroll
    padding: 0px 20px 0px 20px;


    .ProductsContainer {
        flex: 1;
        overflow-y: auto;
        padding-top: 20px;

        /* Customize the scrollbar */
        ::-webkit-scrollbar {
            width: 1px;
        }

        .ProductDrawer {
            padding: 10px 10px 40px 10px;
            display: flex;

            border-top: 1px solid #161616;

            img {
                width: auto;
                overflow: hidden;
                box-shadow: 1px 1px 20px 1px #1d0623;
                border-radius: 6px;
            }

            .TextContainer {
                text-align: center;
                padding: 10px;
                width: 100%;

                p {
                    font-size: 22px;
                    text-transform: uppercase;
                }
            }

            .ItmesContainer {
                text-align: center;

                p {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    font-size: 22px;
                }
            }
        }
    }

    .TotalPrice {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 10px;
        border-radius: 10px;

        p {
            padding: 10px;
        }
    }


    @media (max-width: 768px) {
        padding: 0px;

        .ProductsContainer {

            .ProductDrawer {

                border-top: none;

                display: initial;

                img {
                    overflow: hidden;
                    max-width: 90%;
                }

                .TextContainer {
                    text-align: center;
                    padding: 0px;
                    width: 99%;
                    overflow: hidden;

                    p {
                        font-size: 20px;
                        text-transform: uppercase;
                    }
                }

                .ItmesContainer {
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    padding: 0px;
                    gap: 50px;
                }
            }
        }
    }

    .TotalPrice {
        position: relative;
        overflow: hidden;
        bottom: 0px;
        left: 0px;
        background-color: #fff;
        padding: 0px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}