.HeroSecondWrapper {
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    .HeroSecondLogo {

        position: absolute;
        
    }

    img {
        width: 100vw;
    }
}